body {
    background-image: url(../images/heroprofileback.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#buybtn {
    transition: background-color 0.5s;
}

#buybtn:hover {
    background-color: rgba(0, 100, 0, 0.25);
}

